.data-wrapper {
  cursor: "pointer";
  background-color: #a5cece;
  margin: 10px 100px;
  padding: 20px 0px;
  border: 1px solid black;
  border-radius: 5px;
}
.name-section {
  width: 50%;
  text-align: left;
}
.post-section {
  text-align: right;
  width: 50%;
}
.content-section {
  display: flex;
  margin: 0 20px;
}
